In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [39]:
data = pd.read_csv('Terrorism.csv')
data.tail()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
209701,202012310015,2020,12,31,31-12-2020,0,NaN,228,Yemen,10,...,NaN,"""Al Houthi militia escalated in Hays and targe...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
209702,202012310016,2020,12,31,31-12-2020,0,NaN,228,Yemen,10,...,NaN,"""Al Houthi militia escalated in Hays and targe...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
209703,202012310017,2020,12,31,NaN,0,NaN,75,Germany,8,...,NaN,"""Far-left arson attack suspected on German asy...","""Fire of Bundeswehr vehicles in Leipzig, proba...","""Anarchist Antifa Take Credit for Arson Attack...",START Primary Collection,-9,-9,0,-9,NaN
209704,202012310018,2020,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Civil society activist and tribal elder kille...","""Terrorism Digest: 1-2 Jan 21,"" BBC Monitoring...",NaN,START Primary Collection,-9,-9,0,-9,NaN
209705,202012310019,2020,12,31,NaN,1,NaN,33,Burkina Faso,11,...,NaN,"""Terrorism Digest: 3-4 Jan 21,"" BBC Monitoring...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN

**PRE-PROCESSING**

In [40]:
data.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
approxdate    197017
               ...
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
related       179102
Length: 135, dtype: int64

In [41]:
data['eventid'].nunique()

209706

In [42]:
i = 1
for i in data.columns:
  print(i,data[i].nunique())

eventid 209706
iyear 50
imonth 13
iday 32
approxdate 3305
extended 2
resolution 3557
country 204
country_txt 204
region 12
region_txt 12
provstate 2623
city 45147
latitude 64455
longitude 64273
specificity 5
vicinity 3
location 51346
summary 140085
crit1 2
crit2 2
crit3 2
doubtterr 3
alternative 5
alternative_txt 5
multiple 2
success 2
suicide 2
attacktype1 9
attacktype1_txt 9
attacktype2 9
attacktype2_txt 9
attacktype3 7
attacktype3_txt 7
targtype1 22
targtype1_txt 22
targsubtype1 112
targsubtype1_txt 112
corp1 38367
target1 93526
natlty1 215
natlty1_txt 215
targtype2 22
targtype2_txt 22
targsubtype2 108
targsubtype2_txt 108
corp2 3124
target2 5752
natlty2 161
natlty2_txt 161
targtype3 20
targtype3_txt 20
targsubtype3 93
targsubtype3_txt 93
corp3 507
target3 850
natlty3 116
natlty3_txt 116
gname 3725
gsubname 1369
gname2 490
gsubname2 71
gname3 137
gsubname3 16
motive 17805
guncertain1 2
guncertain2 2
guncertain3 2
individual 2
nperps 117
nperpcap 52
claimed 3
claimmode 11
claimmode_txt 11
claim2 3
claimmode2 9
claimmode2_txt 9
claim3 2
claimmode3 8
claimmode3_txt 8
compclaim 3
weaptype1 12
weaptype1_txt 12
weapsubtype1 30
weapsubtype1_txt 30
weaptype2 11
weaptype2_txt 11
weapsubtype2 28
weapsubtype2_txt 28
weaptype3 10
weaptype3_txt 10
weapsubtype3 22
weapsubtype3_txt 22
weaptype4 5
weaptype4_txt 5
weapsubtype4 16
weapsubtype4_txt 16
weapdetail 21362
nkill 210
nkillus 33
nkillter 103
nwound 241
nwoundus 47
nwoundte 49
property 3
propextent 5
propextent_txt 5
propvalue 715
propcomment 21951
ishostkid 3
nhostkid 211
nhostkidus 27
nhours 35
ndays 375
divert 145
kidhijcountry 217
ransom 3
ransomamt 511
ransomamtus 24
ransompaid 193
ransompaidus 9
ransomnote 444
hostkidoutcome 7
hostkidoutcome_txt 7
nreleased 165
addnotes 18814
scite1 103169
scite2 74763
scite3 43554
dbsource 26
INT_LOG 3
INT_IDEO 3
INT_MISC 3
INT_ANY 3
related 9392

In [43]:
low_cardinality = [i for i in data.columns if data[i].nunique() < 70]
low_cardinality

['iyear',
 'imonth',
 'iday',
 'extended',
 'region',
 'region_txt',
 'specificity',
 'vicinity',
 'crit1',
 'crit2',
 'crit3',
 'doubtterr',
 'alternative',
 'alternative_txt',
 'multiple',
 'success',
 'suicide',
 'attacktype1',
 'attacktype1_txt',
 'attacktype2',
 'attacktype2_txt',
 'attacktype3',
 'attacktype3_txt',
 'targtype1',
 'targtype1_txt',
 'targtype2',
 'targtype2_txt',
 'targtype3',
 'targtype3_txt',
 'gsubname3',
 'guncertain1',
 'guncertain2',
 'guncertain3',
 'individual',
 'nperpcap',
 'claimed',
 'claimmode',
 'claimmode_txt',
 'claim2',
 'claimmode2',
 'claimmode2_txt',
 'claim3',
 'claimmode3',
 'claimmode3_txt',
 'compclaim',
 'weaptype1',
 'weaptype1_txt',
 'weapsubtype1',
 'weapsubtype1_txt',
 'weaptype2',
 'weaptype2_txt',
 'weapsubtype2',
 'weapsubtype2_txt',
 'weaptype3',
 'weaptype3_txt',
 'weapsubtype3',
 'weapsubtype3_txt',
 'weaptype4',
 'weaptype4_txt',
 'weapsubtype4',
 'weapsubtype4_txt',
 'nkillus',
 'nwoundus',
 'nwoundte',
 'property',
 'propextent',
 'propextent_txt',
 'ishostkid',
 'nhostkidus',
 'nhours',
 'ransom',
 'ransomamtus',
 'ransompaidus',
 'hostkidoutcome',
 'hostkidoutcome_txt',
 'dbsource',
 'INT_LOG',
 'INT_IDEO',
 'INT_MISC',
 'INT_ANY']

In [44]:
cat_col = data.select_dtypes(include=['object'])
cat_col.head()

,approxdate,resolution,country_txt,region_txt,provstate,city,location,summary,alternative_txt,attacktype1_txt,...,divert,kidhijcountry,ransomnote,hostkidoutcome_txt,addnotes,scite1,scite2,scite3,dbsource,related
0,NaN,NaN,Dominican Republic,Central America & Caribbean,National,Santo Domingo,NaN,NaN,NaN,Assassination,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,NaN
1,NaN,NaN,Mexico,North America,Federal,Mexico city,NaN,NaN,NaN,Hostage Taking (Kidnapping),...,NaN,Mexico,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,NaN
2,NaN,NaN,Philippines,Southeast Asia,Tarlac,Unknown,NaN,NaN,NaN,Assassination,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,NaN
3,NaN,NaN,Greece,Western Europe,Attica,Athens,NaN,NaN,NaN,Bombing/Explosion,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,NaN
4,NaN,NaN,Japan,East Asia,Fukouka,Fukouka,NaN,NaN,NaN,Facility/Infrastructure Attack,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PGIS,NaN

ID IMPOSES HIGH CARDINALITY, SO WE CAN DROP THE EVENTID COL

ALSO WE CAN DROP RESOLUTION AS IT SHOWS IF THERE WAS AN EXTENDED HOSTAGE SITUATION THEY HOW MANY DAYS

THE REGION AND COUNTRY CAN BE DROPPED TOO AS IT SHOWS THE CATEGORICAL VALUE INTO NUMERIC

APPROXDATE CAN BE DROPPPED AS WE HAVE YEAR MONTH DAY

In [45]:
pd.crosstab(data['targtype1'],data['targtype1_txt'])

targtype1_txt,Abortion Related,Airports & Aircraft,Business,Educational Institution,Food or Water Supply,Government (Diplomatic),Government (General),Journalists & Media,Maritime,Military,...,Police,Private Citizens & Property,Religious Figures/Institutions,Telecommunication,Terrorists/Non-State Militia,Tourists,Transportation,Unknown,Utilities,Violent Political Party
targtype1,,,,,,,,,,,,,,,,,,,,,
1,0,0,22169,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,23828,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,28568,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,34131,...,0,0,0,0,0,0,0,0,0,0
5,267,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,1428,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,3802,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,4761,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,352,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,3313,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,406,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,51985,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,5107,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1275,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,3775,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,460,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,7173,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7174,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,6328,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2079

In [46]:
cols_to_keep = [
    'iyear',
    'imonth',
    'iday',
    'extended',
    'country_txt',
    'region_txt',
    'provstate',
    'city',
    'latitude',
    'crit1',
    'crit2',
    'crit3',
    'longitude',
    'attacktype1_txt',
    'targtype1_txt',
    'weaptype1_txt',
    'nkill',
    'nwound',
    'gname',
    'success',
    'doubtterr'
]

In [47]:
pd.crosstab(data['attacktype1_txt'],data['region_txt'])

region_txt,Australasia & Oceania,Central America & Caribbean,Central Asia,East Asia,Eastern Europe,Middle East & North Africa,North America,South America,South Asia,Southeast Asia,Sub-Saharan Africa,Western Europe
attacktype1_txt,,,,,,,,,,,,
Armed Assault,56,4369,122,138,1309,10567,552,4057,13369,4719,8374,1921
Assassination,36,1268,116,57,418,4713,310,2835,5031,1777,2022,2956
Bombing/Explosion,74,3246,237,338,2826,35011,1576,9348,24837,5404,6606,8655
Facility/Infrastructure Attack,111,409,24,209,303,1369,1043,938,2635,1066,1315,2903
Hijacking,3,26,8,18,27,149,20,85,113,65,169,76
Hostage Taking (Barricade Incident),6,187,4,3,21,127,72,242,165,83,148,98
Hostage Taking (Kidnapping),13,507,46,15,226,3399,131,1513,4052,864,3005,274
Unarmed Assault,10,19,6,47,79,224,110,50,381,29,100,174
Unknown,16,355,17,22,117,2693,33,778,4142,491,2007,271

In [48]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [49]:
data = data.drop(columns = [c for c in data.columns if c not in cols_to_keep])
data.head()

,iyear,imonth,iday,extended,country_txt,region_txt,provstate,city,latitude,longitude,...,crit2,crit3,doubtterr,success,attacktype1_txt,targtype1_txt,gname,weaptype1_txt,nkill,nwound
0,1970,7,2,0,Dominican Republic,Central America & Caribbean,National,Santo Domingo,18.456792,-69.951164,...,1,1,0,1,Assassination,Private Citizens & Property,MANO-D,Unknown,1.0,0.0
1,1970,0,0,0,Mexico,North America,Federal,Mexico city,19.371887,-99.086624,...,1,1,0,1,Hostage Taking (Kidnapping),Government (Diplomatic),23rd of September Communist League,Unknown,0.0,0.0
2,1970,1,0,0,Philippines,Southeast Asia,Tarlac,Unknown,15.478598,120.599741,...,1,1,0,1,Assassination,Journalists & Media,Unknown,Unknown,1.0,0.0
3,1970,1,0,0,Greece,Western Europe,Attica,Athens,37.997490,23.762728,...,1,1,0,1,Bombing/Explosion,Government (Diplomatic),Unknown,Explosives,NaN,NaN
4,1970,1,0,0,Japan,East Asia,Fukouka,Fukouka,33.580412,130.396361,...,1,1,-9,1,Facility/Infrastructure Attack,Government (Diplomatic),Unknown,Incendiary,NaN,NaN